{% extends "layout.html" %}
{% block heading %}
    First Page
{% endblock %}

{% block body %}
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus asperiores veritatis beatae nihil numquam quaerat at sequi recusandae voluptas, voluptate eveniet, repudiandae perferendis sed doloremque sit libero, soluta quo accusantium!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo debitis veritatis laboriosam commodi consectetur pariatur itaque reprehenderit, ratione autem maiores, quas id dolorum voluptates. Adipisci porro sed minus quisquam vel.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus accusamus sed tenetur rerum eius, a nisi incidunt quas at culpa tempore necessitatibus eum velit hic, molestias, voluptas ipsam cupiditate similique?
    </p>

    <button><a href="{{ url_for('more') }}">See more...</a></button>
{% endblock %}