{% extends "layout.html" %}

{% block heading %}
    Second Page
{% endblock %}

{% block body %}
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus asperiores veritatis beatae nihil numquam quaerat at sequi recusandae voluptas, voluptate eveniet, repudiandae perferendis sed doloremque sit libero, soluta quo accusantium!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur exercitationem hic laboriosam similique quam impedit atque itaque facere culpa quibusdam! Ipsum, optio error dolor odio ex veritatis dicta impedit tempore?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, praesentium rerum commodi molestias nemo dolorum, repudiandae ab laudantium amet consectetur quia autem voluptas! Molestias, quia voluptates quam iure asperiores laudantium?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ab officiis cupiditate excepturi numquam enim praesentium deserunt, rerum officia accusantium sunt amet odit aliquid commodi magni ullam voluptate cum nihil!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptas officia perferendis quam, dolorem harum consectetur autem ratione laudantium, quibusdam incidunt, quis quia ab voluptatem earum repellendus illum atque eaque?
    </p>

    <button><a href="{{ url_for('index') }}">Go back</a></button>
{% endblock %}   