{% extends "layout.html" %}

{% block title %}
    First Page
{% endblock %}

{% block body %}
    <h1>First Page</h1>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis natus odio ducimus corporis aut esse voluptate quisquam, omnis error maxime deserunt vel modi illo accusamus unde rem explicabo, minima ipsa!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae deserunt deleniti minima, sunt laborum nihil libero incidunt maxime quae, repellendus quod natus nam rerum rem repellat repudiandae cum nisi ipsa.
    </p>
{% endblock %}