{% extends "layout.html" %}

{% block title %}
    Third Page
{% endblock %}

{% block body %}
    <h1>Third Page</h1>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis natus odio ducimus corporis aut esse voluptate quisquam, omnis error maxime deserunt vel modi illo accusamus unde rem explicabo, minima ipsa!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi vitae sint non quibusdam. Adipisci delectus, dolore, placeat natus veniam necessitatibus aperiam dolorum nobis ipsum et numquam maiores enim, similique dolores.
    </p>
{% endblock %}